<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title> Students Management System</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style>
			.btn-custom {
  border-radius: 20px;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
}

 .special-text {
    text-transform: uppercase;
    font-size: 3em;
    text-shadow: 2px 2px 4px #000000;
  }
	</style>	
	
</head>

<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Student Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/students}">Student Management </a>
   
      </li>
    </ul>
  </div>
</nav>

	<div class="container">
		<div class="row">
  <h1 class="special-text">LIST STUDENTS</h1>
</div>
		
	<div class="row">
    <div class="col-lg-9"></div>
    <div class="col-lg-3">
        <div class="float-right">
            <a th:href="@{/students/new}" class="btn btn-custom">Add student</a>
	
        </div>
    </div>
</div>


	
		
		
		
		<table class="table table-striped table-bordered">
			
			<thead class="table-dark">
    			<tr>
     				 <th class="text-center"> Student First Name</th>
   			 	     <th class="text-center"> Student Last Name</th>
    			     <th class="text-center"> Email </th>
                     <th class="text-center"> Action</th>
  			  </tr>
				</thead>
			
			<tbody>
  			  <tr th:each="student: ${students}">
    		    <td th:text="${student.firstName}"></td>
     		   <td th:text="${student.lastName}"></td>
     		   <td th:text="${student.email}"></td>
    		   <td class="text-center">
      		      <a th:href="@{/students/edit/{id}(id=${student.id})}"
             		  class="btn btn-primary"> Update</a>
            	  <a th:href="@{/students/{id}(id=${student.id})}"
               			class="btn btn-danger"> Delete</a>
       			 </td>
   			 </tr>
			</tbody>
			
		</table>
	</div>

</body>





</html>


